

#nav-bar {
  background-color: #00a087;
  position: fixed;
  height: 80px;
  width: 100%;
  font: #e8fdff;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1000;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
 
}

#nav-bar .header {
  float: left;
  line-height: 80px;
  font-size: 30px;
  padding-left: 10px;
}

#nav-bar .compose {
  border-color: black solid;;
  float: right;
  font-size: 1.25em;
  color: #00a087;
  height: 60px;
  width: 100px;
}

