h2 {
  border-bottom: 1px solid;
  padding: 5px auto;
}

.new-tweet {
  background-color: #F4F8FF ;
  position: relative;
  margin: 0px auto 1em auto;
  border: 1px solid;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
  width: 100%;
  margin: 0;
}

.counter {
  float: right;
  font-size: smaller;
  padding-right: 10px;
  padding-top: 5px;
}

input {
  position: left;
  vertical-align: bottom;
}

